numpy<2.0.0
tensorboard
pyyaml
easydict
scipy
pillow
pycocotools
jupyter
matplotlib
scikit-image
ipykernel
pandas
tqdm
terminaltables
torchsummary
torch 
torchvision 
torchtext 
torchaudio
imgaug
typing_extensions
sympy
tqdm